.selected-bold {
  font-weight: bold;
}

.unselected-bold {
  font-weight: 500;
}

#card-tilt {
  transform-style: preserve-3d;
  transform: perspective(5000px);
}

#card-img {
  transform: translateZ(20px);
}

.test {
  background-color: red;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style: none;
}

.restaurant-app {
  background-image: url("/images/SignedInOrders.png");
  background-position: 20% 30%;
}

.unity-fps {
  background-image: url("/images/unity-fps.png");
  background-position: 30% 35%;
}
